In [1]:
from neo4jrestclient.client import GraphDatabase
import pandas as pd
import os
import glob
import re
import datetime
from datetime import date
import openpyxl
import xlrd
import numpy as np
%autosave 20

Autosaving every 20 seconds

In [2]:
# Convert csv into excel
import os
import glob
import csv
import openpyxl # from https://pythonhosted.org/openpyxl/ or PyPI (e.g. via pip)

for csvfile in glob.glob('C:/Users/Manikandan/Desktop/Dissertation/Paper-1 Main/*.csv'):
    wb = openpyxl.Workbook()
    ws = wb.active
    with open(csvfile, 'rU') as f:
        reader = csv.reader(f)
        for r, row in enumerate(reader, start=1):
            for c, val in enumerate(row, start=1):
                ws.cell(row=r, column=c).value = val
    wb.save(os.path.splitext(csvfile)[0] + '.xlsx')

c:\users\manikandan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: 'U' mode is deprecated
  # Remove the CWD from sys.path while we load stuff.

In [3]:
# append the data with its parent datafile name inorder to match it eid
path = "C:/Users/Manikandan/Desktop/Dissertation/Paper-1 Main/*.xlsx"
df_xl=pd.DataFrame()
ppended_data = pd.DataFrame()
excelname=[]
excelyear=[]
#loop through each file in the path
for file in glob.glob(path):
    wb = openpyxl.load_workbook(file)
    
    x=file.split('\\')  
    x=x[1].split(".")
    data = pd.read_excel(file)
    data["Title_Cites"]=x[0]
    df_xl = df_xl.append(data)

In [4]:
main_paper=pd.read_csv("C:/Users/Manikandan/Desktop/Dissertation/A Big Data Provenance Model for Data Security Supervision Based on PROV-DM Model.csv")

In [5]:
main_title_id=main_paper[["Title","EID"]]

In [6]:
check=df_xl.merge(main_title_id, left_on='Title_Cites',right_on='Title', how='left')

In [7]:
check.columns = ['Authors', 'Authors_id', 'Title', 'Year', 'Source_Title','Volume','Issue','Art_no','Page_start','Page_end',
                'Page_count','Cited_by_count','DOI','Source_EID','Source_Cites','Cites_title','Cites_EID']

In [152]:
author_info=check[['Authors','Authors_id','Source_EID','Cites_EID']]
paper_info=check[[ 'Authors', 'Authors_id','Title', 'Year', 'Source_Title','Cited_by_count','Source_EID','Source_Cites','Cites_EID']]

In [153]:
author_info.head(5)

,Authors,Authors_id,Source_EID,Cites_EID
0,[No author name available],[No author id available],2-s2.0-84868259107,2-s2.0-84868256261
1,"Abadi M., Fournet C.",NaN,2-s2.0-0348185983,2-s2.0-84868256261
2,"Allen M.D., Chapman A., Seligman L., Blaustein B.",55447377900;7201567909;7003523795;6603845390;,2-s2.0-84857563242,2-s2.0-84868256261
3,"Banerjee A., Naumann D.A.",8558971000;7102820941;,2-s2.0-24144435318,2-s2.0-84868256261
4,"Blaustein B., Chapmana A., Seligman L., Allen ...",6603845390;55301179800;7003523795;55447377900;...,2-s2.0-84863453013,2-s2.0-84868256261

In [127]:
author_info.set_index('Source_EID',inplace=True)

In [251]:
author_info_na=author_info.dropna()

In [252]:
author_info_na=author_info_na[~author_info_na.Authors.str.contains("No author name available")]

In [253]:
author_info_na.reset_index(inplace=True)

In [198]:
exportPath = 'C:/Users/Manikandan/Desktop/Dissertation/Paper-1 Main/port.xlsx'  # change
author_info_na.to_excel(os.path.join(exportPath),index=False)

In [254]:
#author_info_na.columns
author_info_na=author_info_na.drop(columns='index')

In [255]:
author_info_na

,Authors,Authors_id,Source_EID,Cites_EID
0,"Allen M.D., Chapman A., Seligman L., Blaustein B.",55447377900;7201567909;7003523795;6603845390;,2-s2.0-84857563242,2-s2.0-84868256261
1,"Banerjee A., Naumann D.A.",8558971000;7102820941;,2-s2.0-24144435318,2-s2.0-84868256261
2,"Blaustein B., Chapmana A., Seligman L., Allen ...",6603845390;55301179800;7003523795;55447377900;...,2-s2.0-84863453013,2-s2.0-84868256261
3,"Buneman P., Chapman A., Cheney J.",7003841263;7201567909;7005251362;,2-s2.0-33846076805,2-s2.0-84868256261
4,"Cadenhead T., Khadilkar V., Kantarcioglu M., T...",24824199300;24080553700;23135116900;55840981000;,2-s2.0-79952802649,2-s2.0-84868256261
...,...,...,...,...
257,"Wright C., Cowan C., Smalley S., Morris J., Kr...",56868069400;7103083212;56943151400;57212616876...,2-s2.0-85079969003,2-s2.0-85076270528
258,"Xie Y., Muniswamy-Reddy K.-K., Feng D., Li Y.,...",55710311200;14039599400;35268288100;5539256010...,2-s2.0-84890320238,2-s2.0-85076270528
259,"Zhang X., Edwards A., Jaeger T.",35340175700;56303898400;57188651182;,2-s2.0-84946222073,2-s2.0-85076270528
260,"Zhou W., Fei Q., Narayan A., Haeberlen A., Loo...",55475947600;42261405800;54785992000;6507228730...,2-s2.0-82655175514,2-s2.0-85076270528
261,"Zhou W., Sherr M., Tao T., Li X., Loo B.T., Ma...",55475947600;23398339300;55420313300;3521340030...,2-s2.0-77954746819,2-s2.0-85076270528

In [256]:
s1 = author_info_na.ix[:,1]

c:\users\manikandan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [257]:
s1=s1.str.rstrip(';')

In [258]:
s1=s1.to_frame(name='Authors_id')

In [259]:
s1

                                            Authors_id
0         55447377900;7201567909;7003523795;6603845390
1                                8558971000;7102820941
2    6603845390;55301179800;7003523795;55447377900;...
3                     7003841263;7201567909;7005251362
4      24824199300;24080553700;23135116900;55840981000
..                                                 ...
257  56868069400;7103083212;56943151400;57212616876...
258  55710311200;14039599400;35268288100;5539256010...
259                35340175700;56303898400;57188651182
260  55475947600;42261405800;54785992000;6507228730...
261  55475947600;23398339300;55420313300;3521340030...

[262 rows x 1 columns]

In [260]:
author_info_na['Authors_id']=s1

In [275]:
author_info_na.head(10)

,Source_EID,Cites_EID,Authors,Authors_id
0,2-s2.0-84857563242,2-s2.0-84868256261,"Allen M.D., Chapman A., Seligman L., Blaustein B.",55447377900;7201567909;7003523795;6603845390
1,2-s2.0-24144435318,2-s2.0-84868256261,"Banerjee A., Naumann D.A.",8558971000;7102820941
2,2-s2.0-84863453013,2-s2.0-84868256261,"Blaustein B., Chapmana A., Seligman L., Allen ...",6603845390;55301179800;7003523795;55447377900;...
3,2-s2.0-33846076805,2-s2.0-84868256261,"Buneman P., Chapman A., Cheney J.",7003841263;7201567909;7005251362
4,2-s2.0-79952802649,2-s2.0-84868256261,"Cadenhead T., Khadilkar V., Kantarcioglu M., T...",24824199300;24080553700;23135116900;55840981000
5,2-s2.0-79960162956,2-s2.0-84868256261,"Cadenhead T., Khadilkar V., Kantarcioglu M., T...",24824199300;24080553700;23135116900;55840981000
6,2-s2.0-80053164877,2-s2.0-84868256261,"Chapman A., Blaustein B.T., Seligman L., Allen...",7201567909;6603845390;7003523795;55447377900
7,2-s2.0-57149126660,2-s2.0-84868256261,"Chapman A.P., Jagadish H.V., Ramanan P.",7201567909;35242128300;6701520687
8,2-s2.0-67349098774,2-s2.0-84868256261,"Detwiler L.T., Suciu D., Brinkley J.F.",8451182900;7006812452;7006036480
9,2-s2.0-0032218233,2-s2.0-84868256261,"Edjlali Guy, Acharya Anurag, Chaudhary Vipin",6603372400;57201538932;57204088406

In [274]:
author_info_na = author_info_na[['Source_EID', 'Cites_EID', 'Authors', 'Authors_id']]

In [1]:
author_info_na.Authors.str.split(',', expand=True).stack()

NameError: name 'author_info_na' is not defined

In [276]:
a1 = author_info_na.Authors.str.split(',', expand=True).stack().reset_index(level=1,drop=True)
a2 = author_info_na.Authors_id.str.split(';', expand=True).stack().reset_index(level=1,drop=True)

In [219]:
a1 = a1.reset_index()
a2 = a2.reset_index()

In [212]:
a1 = a1.loc[~a1.index.duplicated(keep='first')]
a2 = a2.loc[~a2.index.duplicated(keep='second')]

In [278]:
df1=pd.concat([a1,a2],axis=1 ,keys=['Authors','Authors_id'])

In [279]:
df1.head(10)

         Authors   Authors_id
0     Allen M.D.  55447377900
0     Chapman A.   7201567909
0    Seligman L.   7003523795
0   Blaustein B.   6603845390
1    Banerjee A.   8558971000
1   Naumann D.A.   7102820941
2   Blaustein B.   6603845390
2    Chapmana A.  55301179800
2    Seligman L.   7003523795
2     Allen M.D.  55447377900

In [280]:
print((author_info_na.drop(['Authors','Authors_id'], axis=1).join(df1).reset_index(drop=True)))

              Source_EID           Cites_EID        Authors   Authors_id
0     2-s2.0-84857563242  2-s2.0-84868256261     Allen M.D.  55447377900
1     2-s2.0-84857563242  2-s2.0-84868256261     Chapman A.   7201567909
2     2-s2.0-84857563242  2-s2.0-84868256261    Seligman L.   7003523795
3     2-s2.0-84857563242  2-s2.0-84868256261   Blaustein B.   6603845390
4     2-s2.0-24144435318  2-s2.0-84868256261    Banerjee A.   8558971000
...                  ...                 ...            ...          ...
1067  2-s2.0-77954746819  2-s2.0-85076270528       Sherr M.  23398339300
1068  2-s2.0-77954746819  2-s2.0-85076270528         Tao T.  55420313300
1069  2-s2.0-77954746819  2-s2.0-85076270528          Li X.  35213400300
1070  2-s2.0-77954746819  2-s2.0-85076270528       Loo B.T.   8700326800
1071  2-s2.0-77954746819  2-s2.0-85076270528         Mao Y.  55459007000

[1072 rows x 4 columns]

In [281]:
author_info_clean=author_info_na.drop(['Authors','Authors_id'], axis=1).join(df1).reset_index(drop=True)

In [282]:
author_info_clean.head(20)

            Source_EID           Cites_EID            Authors   Authors_id
0   2-s2.0-84857563242  2-s2.0-84868256261         Allen M.D.  55447377900
1   2-s2.0-84857563242  2-s2.0-84868256261         Chapman A.   7201567909
2   2-s2.0-84857563242  2-s2.0-84868256261        Seligman L.   7003523795
3   2-s2.0-84857563242  2-s2.0-84868256261       Blaustein B.   6603845390
4   2-s2.0-24144435318  2-s2.0-84868256261        Banerjee A.   8558971000
5   2-s2.0-24144435318  2-s2.0-84868256261       Naumann D.A.   7102820941
6   2-s2.0-84863453013  2-s2.0-84868256261       Blaustein B.   6603845390
7   2-s2.0-84863453013  2-s2.0-84868256261        Chapmana A.  55301179800
8   2-s2.0-84863453013  2-s2.0-84868256261        Seligman L.   7003523795
9   2-s2.0-84863453013  2-s2.0-84868256261         Allen M.D.  55447377900
10  2-s2.0-84863453013  2-s2.0-84868256261       Rosenthal A.   7203080083
11  2-s2.0-33846076805  2-s2.0-84868256261         Buneman P.   7003841263
12  2-s2.0-33846076805  2-s2.0-84868256261         Chapman A.   7201567909
13  2-s2.0-33846076805  2-s2.0-84868256261          Cheney J.   7005251362
14  2-s2.0-79952802649  2-s2.0-84868256261       Cadenhead T.  24824199300
15  2-s2.0-79952802649  2-s2.0-84868256261       Khadilkar V.  24080553700
16  2-s2.0-79952802649  2-s2.0-84868256261    Kantarcioglu M.  23135116900
17  2-s2.0-79952802649  2-s2.0-84868256261   Thuraisingham B.  55840981000
18  2-s2.0-79960162956  2-s2.0-84868256261       Cadenhead T.  24824199300
19  2-s2.0-79960162956  2-s2.0-84868256261       Khadilkar V.  24080553700

In [78]:
author_info.Authors = author_info.Authors.str.split(',')
author_info.Authors_id = author_info.Authors_id.str.split(';')

c:\users\manikandan\appdata\local\programs\python\python37\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [292]:
author_info_clean.head(5)

           Source_EID           Cites_EID        Authors   Authors_id
0  2-s2.0-84857563242  2-s2.0-84868256261     Allen M.D.  55447377900
1  2-s2.0-84857563242  2-s2.0-84868256261     Chapman A.   7201567909
2  2-s2.0-84857563242  2-s2.0-84868256261    Seligman L.   7003523795
3  2-s2.0-84857563242  2-s2.0-84868256261   Blaustein B.   6603845390
4  2-s2.0-24144435318  2-s2.0-84868256261    Banerjee A.   8558971000

In [285]:


# from neo4jrestclient.client import GraphDatabase

# db = GraphDatabase("http://localhost:7474", username="mani_author", password="mani_author")

# #Create some nodes with labels
# author=db.labels.create("Author")
# paper=db.labels.create("Paper")

# # u1 = db.nodes.create(name="Marco")
# # user.add(u1)
# # u2 = db.nodes.create(name="Daniela")
# # user.add(u2)
 
# # beer = db.labels.create("Beer")
# # b1 = db.nodes.create(name="Punk IPA")
# # b2 = db.nodes.create(name="Hoegaarden Rosee")
# # # You can associate a label with many nodes in one go
# # beer.add(b1, b2)

# # # User-likes->Beer relationships
# # u1.relationships.create("likes", b1)
# # u1.relationships.create("likes", b2)
# # u2.relationships.create("likes", b1)
# # # Bi-directional relationship?
# # u1.relationships.create("friends", u2)
# author_id_split=author_info['Authors_id'].str.split(';', expand=False)
# author_name_split=author_info['Authors'].str.split(',', expand=False)

# a=["Buneman P.", "Chapman A.", "Cheney J."]
# b=[7003841263,7201567909,7005251362]
# c=dict(zip(a,b))
# print(c)


# my_nested_dictionary = {'Authors_id': ['8558971000', '7102820941', ''], 'author_name_split': ['Banerjee A.', ' Naumann D.A.']}
# print(my_nested_dictionary['Authors_id'][0])
# print(my_nested_dictionary['author_name_split'][0])

In [295]:
from py2neo import Graph
graph = Graph("bolt://localhost:7687", user="mani_author", password="mani_author")
tx = graph.begin()

for index, row in author_info_clean.iterrows():
    tx.evaluate('''
       MERGE (a:Source_EID {property:$Source_EID})
       MERGE (b:Cites_EID {property:$Cites_EID})
       MERGE (a)-[r:CITED_BY]->(b)
       ''', parameters = {'Source_EID': str(row['Source_EID']), 'Cites_EID': str(row['Cites_EID'])})
tx.commit()

In [ ]:
# Writing reusable functions

#Function 1 : # Convert csv into excel

def convert_csv_to_excel(path):
       for csvfile in glob.glob(path+'*.csv'):
            wb = openpyxl.Workbook()
            ws = wb.active
            with open(csvfile, 'rU') as f:
                reader = csv.reader(f)
                for r, row in enumerate(reader, start=1):
                    for c, val in enumerate(row, start=1):
                        ws.cell(row=r, column=c).value = val
            wb.save(os.path.splitext(csvfile)[0] + '.xlsx')

#Function 2 : # append the data with its parent datafile name inorder to match it eid

def append_data_master(path):
    
    path = path+'*.xlsx'
    df_xl=pd.DataFrame()
    ppended_data = pd.DataFrame()
    excelname=[]
    excelyear=[]
    #loop through each file in the path
    for file in glob.glob(path):
        wb = openpyxl.load_workbook(file)

        x=file.split('\\')  
        x=x[1].split(".")
        data = pd.read_excel(file)
        data["Title_Cites"]=x[0]
        df_xl = df_xl.append(data)
        
        
#Function 3: # Merging the sub papers with master paper

def merge_sub_master(path):
        
        # Reading the main parent paper - Parent paper 1
        main_paper=pd.read_csv(path)
        
        # Meger the sub paper with parent with Eid and its citations
        main_title_id=main_paper[["Title","EID"]]
        master=df_xl.merge(main_title_id, left_on='Title_Cites',right_on='Title', how='left')
       
        # Rename the colums & drop unwanted columns
        master.columns = ['Authors', 'Authors_id', 'Title', 'Year', 'Source_Title','Volume','Issue','Art_no','Page_start','Page_end',
                'Page_count','Cited_by_count','DOI','Source_EID','Source_Cites','Cites_title','Cites_EID']
        master=master.drop(columns='Cites_title',axis=1)
        
        # Split the master data into authors and paper reference
        author_info=check[['Source_EID', 'Cites_EID', 'Authors', 'Authors_id']]
        paper_info=check[[ 'Title', 'Year', 'Source_Title','Cited_by_count','Source_EID','Source_Cites','Cites_EID','Authors', 'Authors_id']]
        
        
#Function 4: #Expanding the author info in authors data

def expand_author():
    
    # Spliting the end of authorid using rsplit
    s1 = author_info.iloc[:,3]
    s1=s1.str.rstrip(';')
    s1=s1.to_frame(name='Authors_id')
    author_info['Authors_id']=s1
    
    # Dropping NAN and no authors available description
    author_info=author_info.dropna()
    author_info=author_info[~author_info.Authors.str.contains("No author name available")]
    
    # Split the text and expand i.e. stack 
    a1 =author_info.Authors.str.split(',', expand=True).stack().reset_index(level=1,drop=True)
    a2 =author_info.Authors_id.str.split(';', expand=True).stack().reset_index(level=1,drop=True)
    
    # Concat the expanded columns
    df1=pd.concat([a1,a2],axis=1 ,keys=['Authors','Authors_id'])
    
    # Join the new column with original data
    author_info_clean=author_info.drop(['Authors','Authors_id'], axis=1).join(df1).reset_index(drop=True)
    
    
#Function 5: #Expanding the author info in papers data

def expand_author_paper():
    
    # Spliting the end of authorid using rsplit
    s1 =paper_info.iloc[:,8]
    s1=s1.str.rstrip(';')
    s1=s1.to_frame(name='Authors_id')
    paper_info['Authors_id']=s1

    # Dropping NAN and no authors available description
    paper_info=paper_info.dropna()
    paper_info=paper_info[~paper_info.Authors.str.contains("No author name available")]
    paper_info=paper_info[~paper_info.Title.str.contains("No title available")]
    
    # Split the text and expand i.e. stack 
    a1 =paper_info.Authors.str.split(',', expand=True).stack().reset_index(level=1,drop=True)
    a2 =paper_info.Authors_id.str.split(';', expand=True).stack().reset_index(level=1,drop=True)
    
    # Concat the expanded columns
    df2=pd.concat([a1,a2],axis=1 ,keys=['Authors','Authors_id'])
    
    # Join the new column with original data
    paper_info_clean=paper_info.drop(['Authors','Authors_id'], axis=1).join(df2).reset_index(drop=True)
    
#Function 6: #Concatenate authors and paper info into a seperate master files

def concatenate_master_authors():
    master_author_info=pd.concat([master_author_info, author_info_clean])
    master_paper_info=pd.concat([master_paper_info, paper_info_clean])